In [2]:
import pandas as pd

df = pd.read_csv("./data/CHALLENGER_gamedata_2023-09-22_10000(1).csv")
df

,summonerName,championName,win,kills,deaths,assists,totalDamageDealtToChampions,allInPings,assistMePings,baitPings,...,wardTakedowns,wardTakedownsBefore20M,wardsGuarded,Unnamed: 243,Unnamed: 244,Unnamed: 245,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249
0,sparkle,Yone,True,4,3,7,17827,0,1,0,...,7.000000,3.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,시작시작시작,Nidalee,True,7,4,6,16672,2,17,0,...,0.976106,2.078600,11.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Damn JG,Tristana,True,5,4,4,24099,2,2,0,...,0.659601,1.252375,12.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,dnasojiayin7ox,Ezreal,True,6,2,7,25120,0,3,0,...,0.000000,-0.201771,0.796339,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,haohao sup,Rell,True,1,5,9,5563,0,3,0,...,-0.231042,2.939108,12.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9961,ytrr,Darius,True,6,5,3,16464,0,6,5,...,1.270493,3.000000,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9962,Like 1999,LeeSin,True,11,3,7,13662,2,20,0,...,-0.060399,1.012463,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9963,afreeca 김태연,Neeko,True,7,3,9,21474,0,4,1,...,1.698463,0.959964,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9964,xi1,Nilah,True,2,5,7,7749,0,1,0,...,0.591767,3.000000,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9965,lanpangzi,Leona,True,0,7,10,4954,0,1,0,...,-0.113697,2.192138,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
corrdf = df.corr(numeric_only=True)

In [23]:
corrdf.to_csv('./data/corr_matrix.csv', sep = ',', na_rep='NaN')

In [28]:
l = corrdf.loc[(corrdf['win']>0.2)|(corrdf['win']<-0.2)]
a = list(l['win'].index)
len(a)

48